.table {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  background-color: #ddd;
}
.table th[data-filter-value] {
  cursor: pointer;
}
.table th.active {
  color: red;
}
.table th,
.table td {
  padding: 0.5em;
  border: 1px solid #ccc;
}
